# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/